.page.theme_dark {
  --bg-color: #000028;
  --text-color: #ff0070;
  --paragraph-color: #f1b2ce;
  --title-color: #db00ff;
  --hover-border-color: rgba(255, 0, 112, 0.4);
  background-image: url('../images/cover-image-dark.png');
}
