.page.theme_dark {
  --bg-color: #000028;
  --text-color: #ff0070;
  --paragraph-color: #f1b2ce;
  --title-color: #db00ff;
  --main-font: 'IBM Plex mono';
  background-image: url('/images/cover-image-dark.png');

  .header__theme-menu-button:hover {
    border: 1px solid rgba(255, 0, 112, 0.4);
  }

  .content-block-main__text {
    color: var(--paragraph-color);
  }

  .content__link {
    text-shadow: 2px 2px 0 var(--text-color);
  }

  .title-decor {
    color: var(--bg-color);
    background-color: var(--text-color);
  }

  .title {
    text-shadow: 4px 4px 0 var(--text-color);
  }

  .header__theme-menu-button {
    color: inherit;
  }

  .section__title-main {
    color: var(--bg-color);
  }

  .decorated-zone::before,
  .decorated-zone::after {
    border-color: var(--text-color);
  }

  .pseudo-element-rec::before,
  .pseudo-element-rec::after {
    display: initial;
  }
}
