.page.theme_light {
  --bg-color: #f1b2ce;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --main-font: 'IBM Plex mono';
  --shadow-color: #ff0070;
  background-image: url('/images/cover-image-light.png');

  .content-block-main__text {
    color: var(--text-color);
  }

  .content__link {
    text-shadow: 2px 2px 0 var(--accent-color);
  }

  .title-decor {
    color: var(--text-color);
    background-color: var(--accent-color);
  }

  .title {
    text-shadow: 4px 4px 0 var(--shadow-color);
  }

  .header__theme-menu-button {
    color: inherit;
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }

  .section__title-main {
    color: var(--text-color);
  }

  .decorated-zone::before,
  .decorated-zone::after {
    border-color: var(--text-color);
  }

  .pseudo-element-rec::before,
  .pseudo-element-rec::after {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .page {
    --bg-color: #f1b2ce;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --main-font: 'IBM Plex mono';
    --shadow-color: #ff0070;
    background-image: url('/images/cover-image-light.png');
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }

  .content-block-main__text {
    color: var(--text-color);
  }

  .content__link {
    text-shadow: 2px 2px 0 var(--accent-color);
  }

  .title-decor {
    color: var(--text-color);
    background-color: var(--accent-color);
  }

  .title {
    text-shadow: 4px 4px 0 var(--shadow-color);
  }

  .header__theme-menu-button {
    color: inherit;
  }

  .section__title-main {
    color: var(--text-color);
  }

  .decorated-zone::before,
  .decorated-zone::after {
    border-color: var(--text-color);
  }

  .pseudo-element-rec::before,
  .pseudo-element-rec::after {
    display: none;
  }
}
