.page.theme_light {
  --bg-color: #f1b2ce;
  --text-color: #000028;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --main-font: 'IBM Plex mono';
  --shadow-color: #ff0070;
  background-image: url('/images/cover-image-light.png');
}

.page.theme_light p {
  color: var(--text-color);
}
.page.theme_light .content__link {
  text-shadow: 2px 2px 0 var(--accent-color);
}
.page.theme_light .title-decor {
  color: var(--text-color);
  background-color: var(--accent-color);
}

.page.theme_light .title {
  text-shadow: 4px 4px 0 var(--shadow-color);
}
.page.theme_light button {
  color: inherit;
}
.page.theme_light .section__title-main {
  color: var(--text-color);
}

.page.theme_light .decorated-zone::before,
.page.theme_light .decorated-zone::after {
  border-color: var(--text-color);
}

.page.theme_light .pseudo-element-rec::before,
.page.theme_light .pseudo-element-rec::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  .page {
    --bg-color: #f1b2ce;
    --text-color: #000028;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --main-font: 'IBM Plex mono';
    --shadow-color: #ff0070;
    background-image: url('/images/cover-image-light.png');
  }

  p {
    color: var(--text-color);
  }
  .content__link {
    text-shadow: 2px 2px 0 var(--accent-color);
  }
  .title-decor {
    color: var(--text-color);
    background-color: var(--accent-color);
  }

  .title {
    text-shadow: 4px 4px 0 var(--shadow-color);
  }
  button {
    color: inherit;
  }
  .section__title-main {
    color: var(--text-color);
  }

  .decorated-zone::before,
  .decorated-zone::after {
    border-color: var(--text-color);
  }

  .pseudo-element-rec::before,
  .pseudo-element-rec::after {
    display: none;
  }
}
