.page.theme_light {
  --bg-color: #f1b2ce;
  --text-color: #353430;
  --heading-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow-color: #ff0070;
  --heading-background-color: #ff8dcb;
  --accent-color: #ff8dcb;
  --hover-border-color: rgba(50, 49, 45, 0.4);
  --pseudo-element-color: transparent;
  --section-title-color: #353430;
  background-image: url('../images/cover-image-light.png');
}

@media (prefers-color-scheme: light) {
  .page {
    --bg-color: #f1b2ce;
    --text-color: #353430;
    --heading-color: #353430;
    --title-color: #ffc2e6;
    --title-shadow-color: #ff0070;
    --heading-background-color: #ff8dcb;
    --accent-color: #ff8dcb;
    --hover-border-color: rgba(50, 49, 45, 0.4);
    --pseudo-element-color: transparent;
    --section-title-color: #353430;
    background-image: url('../images/cover-image-light.png');
  }
}
