/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  background-image: url('/images/cover-image-dark.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-inline: 20px;
}

button {
  background-color: transparent;
  border: 0;
  color: var(--accent-color);
  text-transform: lowercase;
}

button {
  outline: none;
  padding-inline: 12px;
}

button:focus,
a:focus {
  outline: 1px solid currentColor;
}

.header {
  inline-size: 100%;
  min-block-size: 768px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding-block: 20px;
  margin-block-end: 60px;
  position: relative;
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 12px;
  position: relative;
}

.title {
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
}
.pseudo-element-rec {
  display: flex;
  white-space: nowrap;
  color: var(--accent-color);
  position: absolute;
  right: 9px;
  top: 21px;
}
.pseudo-element-rec::after {
  content: '';
  align-self: center;
  display: block;
  border-radius: 50%;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-inline-start: 10px;
}

.header__title {
  align-self: center;
  margin-inline-start: -20px;
}

.header__description-text {
  inline-size: 50%;
  display: inline-block;
  align-self: center;
  justify-self: end;
  font-size: inherit;
  font-weight: 700;
  line-height: 130%;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.decorated-zone::after {
  content: '';
  display: block;
  block-size: 25px;
  inline-size: 25px;
  background-color: transparent;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  position: absolute;
  bottom: 20px;
  left: 0;
}

.decorated-zone::before {
  content: '';
  display: block;
  block-size: 25px;
  inline-size: 25px;
  background-color: transparent;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  position: absolute;
  top: 20px;
  right: 0;
}

.content-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-block-end: 80px;
}

.content-block-main__title,
.section__title-main {
  font-size: inherit;
}

.section__title-main {
  color: var(--accent-color);
  line-height: 130%;
}

.content-block-main {
  grid-column: 2 / 4;
}

.content-block-main__title {
  margin-block-end: 10px;
}

.content__link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content-block-main__text {
  line-height: 130%;
}

.section-attention-reduction {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content 1fr;
  gap: 20px;
  margin-block-end: 80px;
}

.attention-reduction-block-main {
  grid-row-start: 2;
}

.section-focus-improvement .content-block-main__title:not(:first-child) {
  font-weight: 400;
}

.large-margin-bottom {
  margin-block-end: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc((100% - 40px) / 3), 1fr));
  gap: 20px;
  margin-block-end: 60px;
}

.gallery__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.gallery__item--1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.gallery__item--2 {
  grid-row: 1 / 3;
}

.gallery__item--3 {
  grid-row: 2 / 4;
}

.gallery__item--5 {
  grid-column: 2 / 4;
  padding-block-start: 5px;
}

.footer {
  min-block-size: 768px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
}
.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}
.footer {
  position: relative;
}

.header__theme-button:disabled {
  pointer-events: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

@media (max-width: 768px) {
  .header {
    min-block-size: 1024px;
  }
  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }
  .header__theme-menu-list {
    flex-direction: column;
  }
  .content-block-main {
    padding-inline-start: 7px;
  }
  .section-attention-reduction {
    display: flex;
    flex-direction: column;
  }
  .attention-reduction-block {
    max-inline-size: calc((100% - 40px) / 3);
  }
  .footer {
    min-block-size: 1024px;
  }
}

@media (max-width: 375px) {
  .page {
    padding-inline: 10px;
  }
  .header {
    min-block-size: 668px;
    padding-block: 10px;
    margin-block-end: 40px;
  }
  .header__title {
    margin-inline-start: 0;
    letter-spacing: -3px;
  }
  .header__description-text {
    inline-size: 100%;
  }
  .decorated-zone::before {
    top: 10px;
  }
  .decorated-zone::after {
    bottom: 10px;
  }
  .pseudo-element-rec {
    top: 11px;
  }
  .attention-reduction-block {
    max-inline-size: 100%;
  }
  .content-block-main {
    padding-inline-start: 0;
  }
  .content-section {
    margin-block-end: 50px;
  }
  .section-attention-reduction {
    margin-block-end: 50px;
  }
  .gallery {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-block-start: -10px;
    margin-block-end: 40px;
  }
  .gallery__image {
    grid-row: auto;
    grid-column: auto;
  }

  /*.header__theme-menu {*/
  /*  justify-self: end;*/
  /*  align-self: center;*/
  /*}*/
  /*.header__theme-menu-list {*/
  /*  flex-direction: column;*/
  /*}*/
  /*.content-block-main {*/
  /*  padding-inline-start: 7px;*/
  /*}*/
  /*.section-attention-reduction {*/
  /*  display: flex;*/
  /*  flex-direction: column;*/
  /*}*/
  /*.attention-reduction-block {*/
  /*  max-inline-size: calc((100% - 40px) / 3);*/
  /*}*/
  .content-section {
    display: flex;
    flex-direction: column;
  }
  .footer {
    min-block-size: 668px;
    padding-block: 10px;
  }
  .footer__title {
    letter-spacing: -2px;
  }
}
