/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
.page {
  --bg-color: #000028;
  --text-color: #ff0070;
  --paragraph-color: #f1b2ce;
  --title-color: #db00ff;
  --main-font: 'IBM Plex mono';
}
